.abilities {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  height: 220px;
  margin-top: 1em;
}
.ability {
  background-image: url(../imgs/abilityscore.svg);
  width: 81px;
  height: 95px;
  flex-basis: 33.3333%;
}

.ability:nth-child(1),
.ability:nth-child(2),
.ability:nth-child(3) {
  margin-bottom: 0.5em;
}

.ability__name {
  margin-top: 1em;
}

.ability__modifier {
  margin-right: 0.2em;
}

.ability__score {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.2em;
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
