.inspiration__text {
  text-transform: uppercase;
  font-size: $label-fs;
  font-weight: $label-fw;
  margin-top: 1em;
  margin-bottom: 0.2em;
  line-height: normal;
}

.inspiration__icon {
  width: 50%;
}
