.saving-throws {
  // background-image: url(../imgs/stats.svg);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;

  width: 100%;
  max-width: 300px;
  min-height: 200px;
  // max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2em 1em;
  grid-area: savingThrows;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto repeat(3, 1fr);
  // grid-template-areas:
  //   "label label"
  //   "str int"
  //   "dex wis"
  //   "con cha";
  // justify-items: center;
  // align-items: center;
}
.saving-throw__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
}
.saving-throw--strength {
  grid-area: str;
}

.saving-throws__header,
.saving-throw {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  text-align: center;
  height: 2.5em;
}
.saving-throws__header {
  height: 1.7rem;
}

.saving-throws__title {
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: center;
}

.saving-throw {
  // background-image: url(../imgs/saves-int.svg);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  // height: 3em;
  font-size: 0.85rem;
  margin-bottom: 0.5em;
  white-space: nowrap;
  display: flex;
}

.saving-throws__title--prof,
.saving-throw__prof {
  width: 25%;
  display: flex;
  justify-content: center;
}

.saving-throws__title--name,
.saving-throw__name {
  width: 50%;
}

.saving-throw__name {
  text-transform: capitalize;
}

.saving-throws__title--bonus,
.saving-throw__bonus {
  width: 25%;
}
