//TYPOGRAPHY
.label {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.55rem;
  font-weight: 700;
}

.label--lg {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  text-align: center;
}

.number--lg {
  font-weight: 700;
  font-size: 1.7rem;
}

.armor-class__text {
  width: 50%;
  margin-top: 1.5em;
  line-height: normal;
}

.initiative__text {
  text-transform: uppercase;
  font-size: $label-fs;
  font-weight: $label-fw;
  margin-top: 1em;
  line-height: normal;
  width: 70%;
}

.initiative__number {
  margin-top: 0.3em;
  line-height: 1rem;
}

.speed__text {
  margin-top: 1em;
}

.hit-points__number {
  color: #404040;
}
.hit-points__number,
.speed__number {
  line-height: normal;
}

.misc-profs__label,
.misc-profs__list {
  color: #404040;
  text-align: left;
}

.misc-profs__label {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: grey;
}

.misc-profs__list {
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.35rem;
}
